.header{
    display: flex;
    flex-direction: row;
    height:56px;
    justify-content: space-between;
}
.search-bar{
    height:35px;
    flex:1;
    max-width: 400px;
    font-size: 16px;
    border: none;
    border-width: 1px;
}
.left{
    display: flex;
    align-items: center;
}

.center{
    margin-left: 70px;
    margin-right: 35px;
    display: flex;
    align-items: center;
    background-color: pink;
    flex:1;
    max-width: 650px;
}
    
.right{
    background-color: lightblue;
    width:200px;
}

.hamburger-menu,.youtube-logo{
    height:20px;
    margin-left: 12px;
    margin-right: 12px;
}

.search-button{
    margin-right:6px;
    background-color: rgb(247,247,247);
    border: none;
}
.search-button-img{
    height:32px;
    cursor: pointer;
}

.voice-search-button{
    border-radius: 20px;
    border:none;
    background-color: rgb(247,247,247);
}
.voice-search-img{
    height:32px;
    cursor: pointer;
}