.header{
    display: flex;
    flex-direction: row;
    height:55px;
    justify-content: space-between;
    position: fixed;
    top:0;
    left:0;
    right:0;
    background-color: white;
    border-bottom-width:1px;
    border-bottom-style:solid;
    border-bottom-color:rgb(228,228,228);
    z-index: 1;
}

.left{
    display: flex;
    align-items: center;
}

.hamburger-menu,.youtube-logo{
    height:23px;
    margin-left: 12px;
    margin-right: 12px;
}

.center{
    margin-left: 70px;
    margin-right: 35px;
    display: flex;
    align-items: center;
    flex:1;
    max-width: 500px;
}

.search-bar{
    height:36px;
    flex:1;
    font-size: 16px;
    border-color:rgb(192,192,192);
    border-width: 1px;
    box-shadow: inset 1px 2px 0.5px rgba(0,0,0,0.05);
    padding-left:10px;
    border-radius: 2px;
    width:0;
}

.search-bar::placeholder{
    font-family: Roboto,Arial;
    font-size: 16px;
}

.search-button{
  height: 40px;
  width: 66px;
  background-color: rgb(245, 245, 245);
  border-width: 1px;
  border-style: solid;
  border-color: rgb(192, 192, 192);
  margin-left: -1px;
  margin-right: 10px;
  position: relative;
}

.search-button,.voice-search-button{
    position: relative;
    display: flex;
    justify-content: center;
}

.search-button-img{
    height:32px;
    cursor: pointer;
}

.search-button .tooltip,
.voice-search-button .tooltip{
    position: absolute;
    background-color: gray;
    color: white;
    font-size: 12px;
    padding: 4px 8px;
    border-radius: 2px;
    bottom: -30px;
    opacity: 0;
    transition: opacity 0.15s;
    pointer-events: none;
    white-space: nowrap;
}

.search-button:hover .tooltip,
.voice-search-button:hover .tooltip{
    opacity: 1;
}
 
.voice-search-button{
    height: 40px;
    width:40px;
    border-radius: 20px;
    border:none;
    background-color: rgb(245,245,245);
    cursor: pointer;
}

.voice-search-img{
    height:24px;
    margin-top: 6px;
    margin-left: 2px;
}

.right{
    width:180px;
    align-items: center;
    display: flex;
    margin-right: 24px;
    justify-content: space-between;
    flex-shrink: 0;
    cursor: pointer;
}

.video-icon{
    height:24px;
}
.apps-menu{
    height:24px;
}
.bell-notification-count{
    position: relative;
}
.bell-icon{
    height:24px;
}
.count{
    font-family: Roboto,Arial;
    position: absolute;
    background-color: rgb(200, 0, 0);
    color: white;
    border-radius: 10px;
    padding: 2px 5px;
    font-size: 10px;
    top:-2px;
    right:-4px;

}
.channel-picture{
    height:32px;
    border-radius: 16px;
}




