.header{
    display: flex;
    flex-direction: row;
    height:56px;
    justify-content: space-between;
}

.left{
    display: flex;
    align-items: center;
}

.center{
    margin-left: 70px;
    margin-right: 35px;
    background-color: pink;
    flex:1;
    max-width: 650px;
}
    
.right{
    background-color: lightblue;
    width:200px;
}

.hamburger-menu,.youtube-logo{
    height:20px;
    margin-left: 12px;
    margin-right: 12px;
}