.header{
    display: flex;
    flex-direction: row;
    height:56px;
    justify-content: space-between;
}

.left{
    display: flex;
    align-items: center;
}

.hamburger-menu,.youtube-logo{
    height:23px;
    margin-left: 12px;
    margin-right: 12px;
}

.center{
    margin-left: 70px;
    margin-right: 35px;
    display: flex;
    align-items: center;
    max-width: 650px;
}

.search-bar{
    height:36px;
    flex:1;
    font-size: 16px;
    border-color:rgb(192,192,192);
    border-width: 1px;
    box-shadow: inset 1px 2px 0.5px rgba(0,0,0,0.05);
    padding-left:10px;
    border-radius: 2px;
}

.search-bar::placeholder{
    font-family: Roboto,Arial;
    font-size: 16px;
}

    
.right{
    background-color: lightblue;
    width:200px;
}



.search-button{
    margin-right:6px;
    background-color: rgb(247,247,247);
    border: none;
    height: 34px;
}
.search-button-img{
    height:32px;
    cursor: pointer;
}

.voice-search-button{
    border-radius: 20px;
    border:none;
    background-color: rgb(247,247,247);
}
.voice-search-img{
    height:32px;
    cursor: pointer;
}