.sidebar{
    background-color: white;
    color:black;
    position:fixed;
    left:0px;
    bottom:0;
    top:55px;
    width:72px;
    z-index: 1;
    padding-top: 5px;
    cursor: pointer;
}

.sidebar-menu{
    height: 76px;
    font-size: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.sidebar-menu:hover{
    background-color: rgb(235,235,235);
}

.sidebar-icons{
    height:25px;
    margin-bottom: 5px;
}