.thumbnail{
    width:100%;
    margin-bottom: 9px;
}

.thumbnail-row{
    /* margin-bottom:8px; */
    position: relative;
    cursor: pointer;
}


.video-time{
    font-family: Roboto,Arial;
    position: absolute;
    background-color: black;
    color:white;
    border-radius: 4px;
    bottom:20px;
    right:10px;
    font-size: 14px;
    font-weight: 500;
    padding: 2px 4px;
}

.video-title{
    margin-top: 0;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    margin-bottom: 10px;
}


.video-description-grid{
    display: grid;
    grid-template-columns: 50px 1fr;
}

.profile-picture{
    width:36px;
    border-radius: 50px;
}

.video-ownership,.video-stats{
    font-size: 14px;
    color:rgb(96,96,96);
}

.video-ownership{
    margin-bottom: 4px;
}

.video-grid{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap:20px ;
    row-gap: 40px;
}