.thumbnail{
    width:100%;
    margin-bottom: 9px;
}

.thumbnail-row{
    /* margin-bottom:8px; */
    position: relative;
    cursor: pointer;
}


.video-time{
    font-family: Roboto,Arial;
    position: absolute;
    background-color: black;
    color:white;
    border-radius: 4px;
    bottom:20px;
    right:10px;
    font-size: 14px;
    font-weight: 500;
    padding: 2px 4px;
}

.video-title{
    margin-top: 0;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    margin-bottom: 10px;
}

.video-description-grid{
    display: grid;
    grid-template-columns: 50px 1fr;
}

.profile-container{
    position: relative;
    display: inline-block;
}

.profile-tooltip{
    font-family: Roboto, Arial;
    background-color: white;
    width:200px;
    padding: 12px 12px;
    border-radius: 6px;
    box-shadow: 2px 3px 10px rgba(0,0,0,0.3);
    z-index: 300;
    position: absolute;
    top:55px;
    pointer-events: none;
    opacity: 0;
    display: flex;
    align-items: center;
    transition: opacity 0.15s;
}

.profile-container:hover .profile-tooltip{
    opacity:1
}

.profile-picture-tooltip{
    height:50px;
    width:50px;
    border-radius: 25px;
    margin-right: 8px;
    font-size: 16px;
}

.channel-name{
    font-weight: bold;
    margin-bottom: 4px;
}

.channel-detail{
    font-size: 12px;
    color:rgb(96,96,96);
}

.profile-picture{
    width:36px;
    border-radius: 50px;
}

.video-ownership,.video-stats{
    font-size: 14px;
    color:rgb(96,96,96);
}

.video-ownership{
    margin-bottom: 4px;
}

.video-grid{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap:20px ;
    row-gap: 40px;
}

@media(max-width:750px){
    .video-grid{
        grid-template-columns: 1fr 1fr;
    }
}

@media(min-width:1000px){
    .video-grid{
        grid-template-columns: 1fr 1fr 1fr;
    }
}