.thumbnail{
    width:100%;
    margin-bottom: 9px;
}

.video-title{
    margin-top: 0;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    margin-bottom: 12px;
}

.video-description-grid{
    display: grid;
    grid-template-columns: 50px 1fr;
}

.profile-picture{
    width:40px;
    border-radius: 50px;
}

.video-ownership,.video-stats{
    font-size: 12px;
    color:rgb(96,96,96);
}

.video-ownership{
    margin-bottom: 4px;
}

.video-grid{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap:20px ;
    row-gap: 40px;
}